@import url(reset.css);
@import url(fonts.css);

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.375em;
	font-family: 'RalewayRegular', sans-serif;
	overflow-x: hidden;
	color: #333;
}

.hidden {
	display: none;
}

a, a:hover, a:focus, a:active {
	color: #f39f18;
	text-decoration: underline;
	outline: 0 none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PFCentroSlabProMedium', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #2c3949;
	line-height: 1.375em;
}

h1 {
	font-size: 3.125em;
	margin-top: 110px;
	color: #fff;
	border-bottom: #f39f18 solid 8px;
	display: inline-block;
	padding-bottom: 8px;
	margin-bottom: 32px;
	text-transform: none;
	line-height: 1.125em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

b, strong {
	font-family: 'RalewayBold', sans-serif;
}



/*																												Формы																												*/
.forms {
	background: rgba(36,51,67,.8);
	padding: 35px 35px 30px;
	color: #97a4b2;
	font-size: 0.875em;
	border-bottom: solid 4px #1a222b;
}

.forms h4 {
	color: #fff;
	font-size: 2.0625em;
	text-transform: none;
}

.forms p {
	line-height: 1.4375em;
	margin-top: 10px;
}

.forms label {
	margin: 20px 0 15px;
	display: block;
}

.forms label span {
	letter-spacing: 1.5px;
	display: block;
	margin-bottom: 6px;
	color: #778390;
}

.forms input {
	display: block;
	width: 100%;
	border: none;
	box-shadow: 0 -3px #1f2a36;
	background-color: #34465a;
	text-indent: 10px;
	padding: 10px 0;
	transition: all .5s ease;
	font-family: 'PFCentroSlabProMedium', sans-serif;
	font-size: 1.25em;
	color: #fff;
}

.forms input:focus {
	box-shadow: 0 -5px #f39f18;
	background-color: #394e65;
	color: #fff;
}

.forms .buttons {
	margin-top: 15px;
}

.button_wrap {
	text-align: center;
}

.buttons {
	display: inline-block;
	border: none;
	background-color: #f39f18;
	color: #111;
	font-family: 'PFCentroSlabProBold', sans-serif;
	font-size: 1.375em;
	padding: 12px 30px;
	border-bottom: #b97200 3px solid;
	transition: all .25s ease;
	text-decoration: none;
	border-radius: 2px;
}

.buttons:hover {
	background-color: #ffb338;
	text-decoration: none;
	color: #111;
}

.buttons:active {
	background-color: #db8c0e;
	text-decoration: none;
	color: #111;
}

.buttons:focus {
	color: #111;
	text-decoration: none;
}
/*																												Формы																												*/


/*																												HEADER																												*/
.main_head {
	min-height: 620px;
	background: url(../img/header_bg.jpg) center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	padding-bottom: 120px;
}

.main_head:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #394b5f;
	opacity: .85;
}

/*																												Верхняя часть																												*/
.top_line {
	min-height: 140px;
	background: url(../img/top_gradient.png) repeat-x;
	padding-top: 45px;
}

/*																												Лого																												*/
.main_head .logo {
	outline: none;
}

.logo img {
	width: 100px;
	opacity: .95;
	outline: none;
}
/*																												Лого																												*/

/*																												Меню																												*/
.main_mnu {
	font-size: 0.9375em;
}

.main_mnu li {
	display: inline-block;
	line-height: 48px;
	padding: 0 10px;
}

.main_mnu .active a,
.main_mnu a:hover {
	color: #f39f18;
	text-decoration: underline;
}

.main_mnu a {
	text-decoration: none;
	color: #fff;
	transition: all .5s ease;
}


/*																												Меню на малых устройствах																												*/
.toggle_mnu {
	display: block;
	width: 28px;
	height: 28px;
	margin: 22px auto 0;
}

.toggle_mnu span:after,
.toggle_mnu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
}
.toggle_mnu span:after{
	top: 9px;
}
.toggle_mnu span {
	position: relative;
	display: block;
}

.toggle_mnu span,
.toggle_mnu span:after,
.toggle_mnu span:before {
	width: 100%;
	height: 3px;
	background-color: #fff;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}

/* on activation */
.toggle_mnu.on span {
	background-color: transparent;
}
.toggle_mnu.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
}
.toggle_mnu.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
}
.toggle_mnu.on + #menu {
	opacity: 1;
	visibility: visible;
}
/*																												Меню на малых устройствах																												*/
/*																												Меню																												*/

/*																												Телефон																												*/
.phone_wrap {
	position: relative;
}

.phone {
	font-family: 'RobotoBold', sans-serif;
	font-size: 1.25em;
	color: #fff;
	opacity: .9;
	line-height: 48px;
	text-align: right;
	white-space: nowrap;
}

.phone_wrap .toggle_mnu {
	display: block;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 48px;
	outline: none;
}
/*																												Телефон																												*/
/*																												Верхняя часть																												*/




/*																												Содержимое шапки																												*/
.header_wrap {
	margin-top: 40px;
}

.header_wrap ul {
	margin-top: 10px;
}

.header_wrap ul li {
	font-family: 'RalewaySemiBold', sans-serif;
	font-size: 18px;
	margin-bottom: 12px;
	position: relative;
	padding-left: 16px;
}

.header_wrap ul li:before {
	border-bottom: 6px solid transparent;
	border-left: 6px solid #f39f18;
	border-top: 6px solid transparent;
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 4px;
}

.header_wrap ul li a {
	text-decoration: none;
	color: #fff;
}

.header_wrap ul li a:hover {
	text-decoration: underline;
}

.header_left {
	margin-bottom: 50px;
}
/*																												Содержимое шапки																												*/

/*																												Стрелка вниз																												*/
.arrow_wrap {
	text-align: center;
	position: relative;
	top: 50px;
}

.arrow_down {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/arrow_down.png) no-repeat;
	cursor: pointer;
	opacity: .7;
	transition: all .25s ease;
}

.arrow_down:hover {
	opacity: 1;
}
/*																												Стрелка вниз																												*/
/*																												HEADER																												*/



.homesect {
	padding-top: 65px;
	background-color: #f9f9f9;
	position: relative;
}

.homesect:before {
	content: '';
	height: 6px;
	width: 100%;
	position: absolute;
	top: -6px;
	background: url(../img/bah_1.png) repeat-x;
}

.homesect h2 {
	text-align: center;
	position: relative;
}

.homesect h2:after {
	position: absolute;
	content: '';
	height: 4px;
	width: 165px;
	background-color: #f39f18;
	display: block;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -30px;
	border-radius: 10em;
}

.homesect h3 {
	text-align: center;
	margin-top: 50px;
	animation-delay: .5s;
}

.homesect .sect_head p {
	margin-top: 60px;
	text-align: center;
	animation-delay: .3s;
}

.homesect p a {
	font-family: 'RalewayBold', sans-serif;
}

.homesect a:hover {
	text-decoration: none;
}

.homesect .sect_head {
	margin-bottom: 65px;
}

.homesect .sect_bottom {
	/*margin-top: 70px;*/
	background-color: #e5e5e5;
	padding: 50px 0;
	text-align: center;
}





.section_1 .sect_content {
	background: url(../img/s1_gray_bg.png) no-repeat top center;
	position: relative;
	padding-bottom: 90px;
}

.section_1 .sect_content .s1_bottom_triangle {
	text-align: center;
	height: 67px;
	position: absolute;
	bottom: 0;
	background-image: url(../img/s1_triangle.svg);
	background-position: top;
	background-size: 100% 100%;
	width: 100%;
	z-index: 2;
}

.section_1 .sect_content .s1_bottom_triangle .triangle_logo {
	width: 116px;
	margin-top: 30px;
}

.section_1 .sect_content .s1_bottom_triangle .scales {
	width: 160px;
	position: absolute;
	top: -130px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
}

.section_1 .s1_bottom_rectangle {
	padding: 15px 0 65px;
	background: #394b5f;
}

.info_item {
	max-width: 264px;
	line-height: 1.1875em;
	margin: 48px 0;
	display: inline-block;
}

.info_item_wrap:nth-child(2) .info_item {
	margin-top: 0;
}

.info_item_wrap:nth-child(4) .info_item,
.info_item_wrap:last-child .info_item {
	margin-bottom: 0;
}

.info_item h4 {
	/*margin-top: 0;*/
	margin-bottom: 10px;
}

.info_item h4 a {
	font-size: 1.4375em;
	line-height: .875em;
	text-decoration: underline;
	text-transform: none;
}

.info_item p {
	font-size: 1em;
	margin: 15px 0;
	border-bottom: 1px #dee1e5 solid;
	padding-bottom: 20px;
}

.section_1 .s1_bottom_rectangle .info_item {
	margin: 15px 0 0;
}

.section_1 .s1_bottom_rectangle .info_item p {
	color: #fff;
	border-color: #546476;
}

.section_1 .s1_bottom_rectangle .info_item_wrap:nth-child(2) .info_item {
	margin-top: 70px;
}

.section_1 .sect_bottom {
	background-color: #2c3949;
}

.info_item_wrap {
	text-align: center;
}


.s2_items {
	padding-bottom: 20px;
}

.s2_items .s2_item {
	text-align: center;
	color: #111;
	display: block;
	margin-bottom: 75px;
}

.s2_items .s2_item span {
	display: block;
}

.s2_items .img_wrap {
	margin-bottom: 12px;
	padding-bottom: 32px;
	position: relative;
}

.s2_items .img_wrap:after {
	content: '';
	position: absolute;
	height: 1px;
	background-color: #f39f18;
	width: 58px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.img_wrap img {
	width: 100%;
	max-height: 60px;
	max-width: 75px;
}


.s2_items .s2_item .s2_item_text {
	font-family: 'RalewayBold';
	font-size: .875em;
	line-height: 1.25em;
}

.s2_items_container {
	text-align: center;
}

.s2_item_wrap {
	display: inline-block;
	width: 185px;
	padding: 0 15px;
	vertical-align: top;
	opacity: 0;
	transition: all .5s ease;
	transform: translateY(-25px);
}

.s2_item_wrap a {
	transition: all .5s ease;
}

.s2_item_wrap.on {
	opacity: 1;
	transform: translateY(0);
}

.s2_item_wrap:hover {
		transform: translateY(-10px);
}
.s2_item_wrap:hover a {
	color: #F39F18;
}






.s_dark {
	background-color: #2c3949;
}

.s_dark:before {
	background-image: url(../img/bah_2.png);
}

.s_dark .sect_head h2 {
	color: #fff;
}

.s_dark .sect_head p {
	color: #e5e5e5;
}

.s_dark .sect_bottom {
	background-color: #394b5f;
	margin-top: 60px;
}

.section_3 .sect_head {
	margin-bottom: 20px;
}

.section_3 .sect_content {
	min-height: 850px;
	background: url(../img/s3_sun_bg.png) no-repeat top center;
	position: relative;
	padding-top: 62px;
}

.section_3 .sect_content .info_item {
	margin-top: 60px;
}

.section_3 .sect_content .info_item p {
	color: #fff;
	border: none;
}

.section_3 .sect_content .info_item_wrap:nth-child(2) .info_item {
	margin-top: 0;
}

.section_3 .sect_content .info_item_wrap:nth-child(4) .info_item,
.section_3 .sect_content .info_item_wrap:nth-child(6) .info_item {
	margin-top: 45px;
}

.section_3 .sect_content .info_item_wrap:nth-child(8) .info_item {
	margin-top: 130px;
}

.section_3 .sect_content .info_item_wrap:nth-child(7) .info_item,
.section_3 .sect_content .info_item_wrap:nth-child(9) .info_item {
	margin-top: 25px;
}

.section_3 .sect_content .info_item_wrap:nth-child(1) .info_item,
.section_3 .sect_content .info_item_wrap:nth-child(7) .info_item {
	margin-left: 85px;
}

.section_3 .sect_content .info_item_wrap:nth-child(3) .info_item,
.section_3 .sect_content .info_item_wrap:nth-child(9) .info_item {
	margin-right: 85px;
}

.s3_img_wrap {
	width: 130px;
	height: 130px;
	background-color: #f39f18;
	text-align: center;
	border-radius: 10em;
	margin: 35px 0 0 115px;
}

.s3_img_wrap img {
	width: 70px;
	margin-top: 29px;
}








.s_gray {
	background-color: #e5e5e5;
}

.s_gray:before {
	background-image: url(../img/bah_3.png);
}

.s_gray .sect_bottom {
	background-color: #d6d6d6;
}


.sect_pb {
	padding-bottom: 70px;
}

.cards {
	text-align: center;
	perspective: 600px;
}


.cards .card {
	width: 260px;
	display: inline-block;
	background-color: #2c3949;
	margin: 0 12px 30px;
	color: #97a4b2;
	font-size: .9375em;
	line-height: 1.3125em;
	padding: 54px 28px 48px;
	vertical-align: top;
	transition: all 1s ease;
	border-bottom: #1A222B 4px solid;
}

.cards .card:hover {
	border-color: #F39F18;
}

.cards .card:hover .card_icon {
	transform: scale(1.1);
}


.cards .card_off {
	transform: rotateY(100deg);
	opacity: 0;
}

.cards .card_on {
	opacity: 1;
}

.cards .card .card_icon {
	width: 120px;
	display: inline-block;
	height: 120px;
	background-color: #f39f18;
	border-radius: 10em;
	position: relative;
	transition: all .4s ease;
}

.cards .card .card_icon img {
	width: 75px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.cards .card h4 {
	color: #e5e5e5;
	font-family: 'RalewayBold', sans-serif;
	font-size: 1.125em;
	margin: 30px 0 18px;
}

.cards .card p {
	height: 75px;
}

.cards .card p strong {
	color: #F39F18;
}






.triangles_container {
	color: #fff;
	font-family: 'PFCentroSlabProMedium', sans-serif;
	font-size: 1.1875em;
	margin: 20px 0 70px;
	text-align: center;
}

.triangles_container .tc_item {
	width: 290px;
	height: 128px;
	display: inline-block;
	position: relative;
	margin-left: -45px;
	vertical-align: top;
	transition: all .5s ease;
	cursor: default;
}

.triangles_container .tc_item:hover {
	transform: scale(1.08);
	z-index: 3;
}

.triangles_container .tc_item:hover path {
	fill-opacity: 0!important;
	stroke-opacity: 1!important;
}

.triangles_container svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.triangles_container .tc_item .tc_content {
	position: relative;
	z-index: 1;
	margin-top: 43px;
	margin-left: 60px;
	text-align: left;
	padding-left: 40px;
	transition: all 1s ease;
	opacity: 0;
}

.triangles_container .tc_item .tc_content_on {
	opacity: 1;
}

.triangles_container .tc_item:first-child {
	margin-left: 0;
}

.triangles_container .tc_item:first-child .tc_content {
	margin-left: 50px;
}

.triangles_container .tc_item .tc_content span {
	font-size: 1.25em;
	margin-left: -22px;
	position: absolute;
}

.triangles_container .tc_item .tc_content img {
	height: 40px;
	float: left;
	margin-left: -40px;
	margin-right: 32px;
}







.teams {
	text-align: center;
	perspective: 600px;
}

.teams .team {
	width: 260px;
	display: inline-block;
	background-color: #e5e5e5;
	margin: 0 12px 30px;
	color: #97a4b2;
	font-size: .9375em;
	line-height: 1.3125em;
	padding: 54px 28px 48px;
	vertical-align: top;
	transition: all 1s ease;
	border-bottom: #d6d6d6 4px solid;
}

.teams .team_off {
	transform: rotateY(100deg);
	opacity: 0;
}

.teams .team_on {
	opacity: 1;
}

.teams .team .team_icon {
	width: 120px;
	display: inline-block;
	height: 120px;
	background-color: #f39f18;
	border-radius: 10em;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 5px #d6d6d6;
	transition: all .4s ease;
}

.teams .team .team_icon img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.teams .team:hover {
	border-color: #F39F18;
}

.teams .team:hover .team_icon {
	transform: scale(1.1);
}


.teams .team h4 {
	color: #333;
	font-family: 'RalewayBold', sans-serif;
	font-size: 1.125em;
	margin: 35px 0 10px;
	text-transform: none;
}

.teams .team p {
	font-size: .9375em;
	color: #6e7b8b;
	/*height: 75px;*/
}

.teams .team .team_phone {
	margin-top: 20px;
	font-family: 'RobotoBold', sans-serif;
	color: #333;
	font-size: 1.125em;
}

.teams .team p strong {
	color: #F39F18;
}







.slider {
	margin-bottom: 50px;
}

.slider .slide {
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}

.slider .owl-item .image_wrap {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
	transition: all 1s ease;
	transition-delay: .1s;
}

.slider .owl-item .slide_descr,
.slider .owl-item h3 {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
	transition: all 1s ease;
	transition-delay: .4s;
}

.slider .owl-item p {
	opacity: 0;
	transform: translate3d(100px, 0, 0);
	transition: all 1s ease;
	transition-delay: .8s;
}

.slider .active p {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.slider .active .slide_descr,
.slider .active h3 {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.slider .active .image_wrap {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.slider .slide .image_wrap {
	width: 116px;
	height: 116px;
	display: inline-block;
	border-radius: 10em;
	overflow: hidden;
	box-shadow: 0 0 0 7px #F39F18;
	margin: 10px;
}

.slider .slide .image_wrap img {
	width: 100%;
}


.slider .slide h3 {
	text-transform: none;
	font-size: 1.5em;
	margin-top: 20px;
}

.slider .slide .slide_descr {
	margin: 10px 0 18px;
	font-size: .875em;
	color: #6E7B8B;
}

.slider .owl-controls {
	text-align: center;
}

.slider .owl-controls .owl-dot {
	width: 15px;
	height: 15px;
	margin: 0 3px;
	background-color: #ccc;
	display: inline-block;
	border-radius: 10em;
}

.slider .owl-controls .active {
	background-color: #F39F18;
}

.slider .owl-controls .owl-nav {
	position: absolute;
	top: 55px;
	width: 100%;
}

.slider .owl-controls .owl-nav > div {
	height: 29px;
	width: 16px;
	background: url(../img/slider_arrows.png);
	position: absolute;
	left: 20px;
	opacity: .5;
	transition: all .25s ease;
}

.slider .owl-controls .owl-nav > div:hover {
	opacity: 1;
}

.slider .owl-controls .owl-nav .owl-next {
	right: 20px;
	left: auto;
	background-position: -16px 0;
}





.homesect.section_8 {
	padding-top: 80px;
}

.s8_left .sect_head {
	margin-bottom: 50px;
}

.s8_left .sect_head h2 {
	margin-top: 0;
}

.s8_left .sect_head h2,
.s8_left .sect_head p {
	text-align: left;
}

.s8_left .sect_head h2:after {
	transform: none;
	left: 0;
}


.s8_items {
	margin-bottom: 20px;
}

.s8_items .s8_item {
	text-align: center;
	transition: all .5s ease;
	opacity: 0;
}

.s8_items .s8_item.on {
	opacity: 1;
	transform: translateY(0);
}

.s8_items .s8_item:hover {
	transform: translateY(-10px);
}

.s8_items .s8_item .image_wrap {
	height: 72px;
}

.s8_items .s8_item .image_wrap img {
	height: 72px;
}

.s8_items .s8_item p {
	font-family: 'RalewayBold', sans-serif;
	font-size: 13px;
	line-height: 1.1875em;
	margin-top: 18px;
}

.section_8 .forms {
	background-color: #ddd;
	border-color: #828282;
}

.section_8 .forms h4 {
	color: #2c3949;
}

.section_8 .forms p {
	color: #5e6267;
}

.section_8 .forms input {
	background-color: #c0c0c0;
	color: #333;
	box-shadow: 0 -3px #828282;
}

.section_8 .forms input:focus {
	box-shadow: 0 -4px #f39f18;
}



.main_footer {
	padding-bottom: 60px;
}

.main_footer .logo {
	opacity: .35;
}

.main_footer .phone {
	opacity: .45;
}

.main_footer .main_mnu a {
	color: #c7c9cc;
}

.main_footer .main_mnu .active a,
.main_footer .main_mnu a:hover {
	color: #f39f18;
	text-decoration: underline;
}










.to_top {
	height: 36px;
	width: 100%;
	background: #1f2b3a url(../img/top.png) no-repeat center;
	cursor: pointer;
}





#callback {
	max-width: 340px;
	margin: auto;
	position: relative;
}

#callback h4 {
	line-height: 1.125em;
	margin-bottom: 18px;
}


.mfp-forms .forms {
	background-color: #243343;
	box-shadow: 0 0 18px rgba(0,0,0,.5),0 0 0 5px #243343;
	border: none;
	border-radius: 1px;
}
/* overlay at start */
.mfp-forms.mfp-bg {
	opacity: 0;
	transition: all 0.25s ease-out;
}
/* overlay animate in */
.mfp-forms.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-forms.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-forms.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.25s ease-out;
}
/* content animate it */
.mfp-forms.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-forms.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.mfp-forms .mfp-close {
	color: #fff;
}